
<template name="footer">
    
    <div class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui stackable inverted divided equal height stackable grid">
                <div class="three wide column">
                    <h4 class="ui inverted header">About</h4>
                    <div class="ui inverted link list">
                        <a href={{pathFor "/help"}} class="item">Help</a>
                        <a href="#" class="item">Implementation</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Services</h4>
                    <div class="ui inverted link list">
                        <a href={{pathFor "/admin"}} class="item">Admin Data Analysis</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">Extra Information</h4>
                    <p>Created by Martin Humphreys, Hayden Barker and Rishabh Sahdev.</p>
                </div>
            </div>
        </div>
    </div>
</template>