
<template name="menu">
    <a class="item {{isActiveRoute 'home'}}" href={{pathFor 'home'}}>@Home</a>
    <a class="item {{isActiveRoute regex='^gallery'}}" href={{pathFor 'gallery'}}>Gallery</a>
    {{# if currentUser }}
        <a class="item {{isActiveRoute 'upload'}}" href={{pathFor 'upload'}}>Upload</a>
    {{/if}}
</template>

<template name="horizontalMenuButtons">
    <div class="right menu">
        {{#if currentUser}}
            <div class="item">
                <a class="ui icon button" href={{pathFor "profile"}}>
                    <i class="user icon"></i>
                </a>
            </div>
            <div class="item">
                <a class="ui icon button" href={{pathFor "groups"}}>
                    <i class="group icon"></i>
                </a>
            </div>
            <div class="item">
                <a class="ui icon button" href={{pathFor "logout"}}>
                    <i class="sign out icon"></i>
                </a>
            </div>
        
        {{else}}
        
            <div class="item">
                <a class="ui button" href={{pathFor "login"}}>
                    <i class="sign in icon"></i>
                    Log in
                </a>
            </div>
            <div class="item">
                <a class="ui primary button" href={{pathFor "register"}}>
                    <i class="add user icon"></i>
                    Sign Up
                </a>
            </div>
        {{/if}}
    </div>
</template>

<template name="verticalMenuButtons">
    {{#if currentUser}}
        <a class="item" href={{pathFor "profile"}}>Profile</a>
        <a class="item" href={{pathFor "preferences"}}>Preferences</a>
        <a class="item" href={{pathFor "logout"}}>Log out</a>
    {{else}}
        <a class="item" href={{pathFor "login"}}>Log in</a>
        <a class="item" href={{pathFor "register"}}>Sign Up</a>
    {{/if}}
</template>


<template name="sidebarMenu">
    <div class="ui vertical inverted sidebar menu">
        {{> menu }}
        {{> verticalMenuButtons }}
    </div>
</template>

<template name="followingMenu">
    <div class="ui large top fixed hidden menu">
        <div class="ui container">
            {{> menu }}
            {{> horizontalMenuButtons }}
        </div>
    </div>
</template>
