

<template name="header">
    
    <div class="ui inverted vertical masthead center aligned segment">
    
        <div class="ui container">
          <div class="ui large secondary inverted pointing menu">
            <a class="toc item">
              <i class="sidebar icon"></i>
            </a>
            {{> menu }}
            {{> horizontalMenuButtons }}
          </div>
        </div>
    
        <div class="ui text container">
          <h1 class="ui inverted header">
            Jaggies
          </h1>
        </div>
        
    </div>

</template>
